In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('appartments.csv')

In [3]:
df

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."
...,...,...,...,...,...,...,...
242,DLF Princeton Estate,"2, 3, 4 BHK Apartment in DLF Phase 5, Gurgaon","['Sector 42-43 Metro Station', 'Paras Hospital...","{'Sector 42-43 Metro Station': '1.8 Km', 'Para...",https://www.99acres.com/dlf-princeton-estate-d...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Medical Centre', 'Laundry',..."
243,Pyramid Urban Homes 2,"1, 2 BHK Apartment in Sector 86, Gurgaon","['Aarvy Healthcare Super Speciality', ""St. Xav...",{'Aarvy Healthcare Super Speciality': '1.8 KM'...,https://www.99acres.com/pyramid-urban-homes-2-...,"{'1 BHK': {'building_type': 'Apartment', 'area...","['Shopping Centre', 'Community Hall', '24x7 Se..."
244,Satya The Hermitage,"2, 3, 4, 5 BHK Apartment in Sector 103, Gurgaon","['Dwarka Expressway', 'S N International Schoo...","{'Dwarka Expressway': '1.2 Km', 'S N Internati...",https://www.99acres.com/satya-the-hermitage-se...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Bus Shelter', 'Swimming Pool', 'Business Lou..."
245,BPTP Spacio,"2, 3 BHK Apartment in Sector 37D, Gurgaon","['Suncity School', 'Gurugram Road', 'Dwarka Ex...","{'Suncity School': '0.2 Km', 'Gurugram Road': ...",https://www.99acres.com/bptp-spacio-sector-37d...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Card Room', 'Piped Gas', 'P..."
246,SS The Coralwood,"2, 3 BHK Apartment in Sector 84, Gurgaon","['Sector 84 Road', 'Delhi Public School, Secto...","{'Sector 84 Road': '600 Meter', 'Delhi Public ...",https://www.99acres.com/ss-the-coralwood-secto...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'School', 'Solar Lighting', ..."

In [4]:
df=df[~df['PropertySubName'].str.lower().str.split('in').str.get(1).str.split(',').str.get(0).isnull()]

In [5]:
df['PropertySubName']=df['PropertySubName'].str.lower().str.split('in').str.get(1).str.split(',').str.get(0)

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_286436\3811170941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PropertySubName']=df['PropertySubName'].str.lower().str.split('in').str.get(1).str.split(',').str.get(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246 entries, 0 to 246
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PropertyName        246 non-null    object
 1   PropertySubName     246 non-null    object
 2   NearbyLocations     246 non-null    object
 3   LocationAdvantages  246 non-null    object
 4   Link                246 non-null    object
 5   PriceDetails        246 non-null    object
 6   TopFacilities       246 non-null    object
dtypes: object(7)
memory usage: 15.4+ KB

In [7]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,sector 113,"['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,sector 111,"['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,dependent floor,"['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,sector 108,"['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,dependent floor,"['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

### Recommendation on topFacilities

In [8]:
df1=df[['PropertyName','TopFacilities']]

In [9]:
df1

,PropertyName,TopFacilities
0,Smartworld One DXP,"['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."
...,...,...
242,DLF Princeton Estate,"['Swimming Pool', 'Medical Centre', 'Laundry',..."
243,Pyramid Urban Homes 2,"['Shopping Centre', 'Community Hall', '24x7 Se..."
244,Satya The Hermitage,"['Bus Shelter', 'Swimming Pool', 'Business Lou..."
245,BPTP Spacio,"['Swimming Pool', 'Card Room', 'Piped Gas', 'P..."
246,SS The Coralwood,"['Swimming Pool', 'School', 'Solar Lighting', ..."

In [10]:
import ast

In [11]:
df['TopFacilities'][0]

"['Swimming Pool', 'Salon', 'Restaurant', 'Spa', 'Cafeteria', 'Sun Deck', '24x7 Security', 'Club House', 'Gated Community']"

In [176]:
df['TopFacilitiesStr']=df['TopFacilities'].apply(ast.literal_eval)

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_286436\977149003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TopFacilitiesStr']=df['TopFacilities'].apply(ast.literal_eval)

In [17]:
def change(row):
    return " ".join(row)

In [20]:
df['TopFacilitiesStr']=df['TopFacilitiesStr'].apply(change)

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_286436\2637097072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TopFacilitiesStr']=df['TopFacilitiesStr'].apply(change)

In [22]:
df['TopFacilitiesStr']

0      Swimming Pool Salon Restaurant Spa Cafeteria S...
1      Bowling Alley Mini Theatre Manicured Garden Sw...
2      Terrace Garden Gazebo Fountain Amphitheatre Pa...
3      Swimming Pool Volley Ball Court Aerobics Centr...
4      Mini Theatre Doctor on Call Concierge Service ...
                             ...
242    Swimming Pool Medical Centre Laundry Salon Gro...
243    Shopping Centre Community Hall 24x7 Security G...
244    Bus Shelter Swimming Pool Business Lounge Read...
245    Swimming Pool Card Room Piped Gas Pool Table S...
246    Swimming Pool School Solar Lighting Aerobics C...
Name: TopFacilitiesStr, Length: 246, dtype: object

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))

In [26]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df['TopFacilitiesStr'])

In [29]:
tfidf_matrix.toarray().shape

(246, 973)

In [30]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [36]:
def recommend_properties(property_name, cosine_sim=cosine_sim1):
    # Get the index of the property that matches the name
    idx = df.index[df['PropertyName'] == property_name].tolist()[0]

    # Get the pairwise similarity scores with that property
    sim_scores = list(enumerate(cosine_sim1[idx]))

    # Sort the properties based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar properties
    sim_scores = sim_scores[1:6]

    # Get the property indices
    property_indices = [i[0] for i in sim_scores]
    
    recommendations_df = pd.DataFrame({
        'PropertyName': df['PropertyName'].iloc[property_indices],
        'SimilarityScore': sim_scores
    })

    # Return the top 10 most similar properties
    return recommendations_df

In [37]:
recommend_properties("DLF The Arbour")

             PropertyName            SimilarityScore
64        Ace Palm Floors   (63, 0.5513406358855141)
93         JMS The Nation   (92, 0.4839927315201953)
217           Yashika 104  (216, 0.4791925565137416)
18   Whiteland Blissville   (18, 0.4690795525704204)
63      Vatika Aspiration   (62, 0.4160816171209393)

### Recommendation on price

In [34]:
df[['PropertyName','PriceDetails']]['PriceDetails'][1]

"{'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,605 - 2,170 sq.ft.', 'price-range': '₹ 2.2 - 3.03 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,248 - 2,670 sq.ft.', 'price-range': '₹ 3.08 - 3.73 Cr'}}"

In [38]:
import pandas as pd
import json

# Load the dataset
df_appartments = pd.read_csv('appartments.csv').drop(22)

# Function to parse and extract the required features from the PriceDetails column
def refined_parse_modified_v2(detail_str):
    try:
        details = json.loads(detail_str.replace("'", "\""))
    except:
        return {}

    extracted = {}
    for bhk, detail in details.items():
        # Extract building type
        extracted[f'building type_{bhk}'] = detail.get('building_type')

        # Parsing area details
        area = detail.get('area', '')
        area_parts = area.split('-')
        if len(area_parts) == 1:
            try:
                value = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area low {bhk}'] = value
                extracted[f'area high {bhk}'] = value
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        elif len(area_parts) == 2:
            try:
                extracted[f'area low {bhk}'] = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area high {bhk}'] = float(area_parts[1].replace(',', '').replace(' sq.ft.', '').strip())
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None

        # Parsing price details
        price_range = detail.get('price-range', '')
        price_parts = price_range.split('-')
        if len(price_parts) == 2:
            try:
                extracted[f'price low {bhk}'] = float(price_parts[0].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                extracted[f'price high {bhk}'] = float(price_parts[1].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                if 'L' in price_parts[0]:
                    extracted[f'price low {bhk}'] /= 100
                if 'L' in price_parts[1]:
                    extracted[f'price high {bhk}'] /= 100
            except:
                extracted[f'price low {bhk}'] = None
                extracted[f'price high {bhk}'] = None

    return extracted
# Apply the refined parsing and generate the new DataFrame structure
data_refined = []

for _, row in df_appartments.iterrows():
    features = refined_parse_modified_v2(row['PriceDetails'])
    
    # Construct a new row for the transformed dataframe
    new_row = {'PropertyName': row['PropertyName']}
    
    # Populate the new row with extracted features
    for config in ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '1 RK', 'Land']:
        new_row[f'building type_{config}'] = features.get(f'building type_{config}')
        new_row[f'area low {config}'] = features.get(f'area low {config}')
        new_row[f'area high {config}'] = features.get(f'area high {config}')
        new_row[f'price low {config}'] = features.get(f'price low {config}')
        new_row[f'price high {config}'] = features.get(f'price high {config}')
    
    data_refined.append(new_row)

df_final_refined_v2 = pd.DataFrame(data_refined).set_index('PropertyName')

In [39]:
df_final_refined_v2['building type_Land'] = df_final_refined_v2['building type_Land'].replace({'':'Land'})

In [42]:
df_final_refined_v2=df_final_refined_v2.fillna(0)

In [44]:
categorical_columns = df_final_refined_v2.select_dtypes(include=['object']).columns.tolist()

In [51]:
import numpy as np

In [52]:
ohe_df = pd.get_dummies(df_final_refined_v2, columns=categorical_columns, drop_first=True).astype(np.int64)

In [53]:
ohe_df.fillna(0,inplace=True)

In [55]:
ohe_df

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_4 BHK_Apartment,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Apartment,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Apartment,building type_6 BHK_Villa,building type_1 RK_Studio Apartment,building type_Land_Land
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0,0,0,0,1370,1370,2,2,1850,2050,...,1,0,0,0,0,0,0,0,0,0
M3M Crown,0,0,0,0,0,0,0,0,1605,2170,...,1,0,0,0,0,0,0,0,0,0
Adani Brahma Samsara Vilasa,0,0,0,0,0,0,0,0,1800,3150,...,0,1,0,0,0,0,0,0,0,1
Sobha City,0,0,0,0,1381,1692,1,3,1711,2343,...,1,0,0,0,0,0,0,0,0,0
Signature Global City 93,0,0,0,0,981,1118,0,1,1235,1530,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,0,0,0,0,964,964,0,0,1127,1127,...,1,0,0,0,0,0,0,0,0,0
Pyramid Urban Homes 2,335,398,23,0,500,625,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Satya The Hermitage,0,0,0,0,1450,1450,0,0,1991,1991,...,1,0,0,1,0,0,0,0,0,0
BPTP Spacio,0,0,0,0,1000,1079,0,0,1225,1865,...,0,0,0,0,0,0,0,0,0,0
SS The Coralwood,0,0,0,0,1320,1425,0,0,1750,1890,...,0,0,0,0,0,0,0,0,0,0

In [56]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
ohe_df_normalized = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
cosine_sim2 = cosine_similarity(ohe_df_normalized)

In [58]:
cosine_sim2.shape

(246, 246)

In [59]:
def recommend_properties_with_scores(property_name, top_n=246):
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim2[ohe_df_normalized.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = ohe_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('M3M Golf Hills')

                PropertyName  SimilarityScore
0                M3M Capital         0.969186
1             Unitech Escape         0.967297
2                 BPTP Terra         0.951916
3               Corona Optus         0.942486
4    AIPL The Peaceful Homes         0.942185
..                       ...              ...
240           JMS Prime Land        -0.573894
241           JMS The Nation        -0.575019
242      Satya Merano Greens        -0.575876
243       ROF Normanton Park        -0.575924
244          BPTP Green Oaks        -0.576484

[245 rows x 2 columns]

### Location advantage

In [80]:
df[['PropertyName','LocationAdvantages']]['LocationAdvantages'][0]

"{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}"

In [135]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import ast
import re
from difflib import SequenceMatcher

# Load your dataset


# Function to normalize distance to meters
def normalize_distance(dist_str):
    if pd.isna(dist_str) or dist_str == '':
        return np.nan
    
    dist_str = str(dist_str).lower().strip()
    match = re.search(r'(\d+\.?\d*)\s*(km|meter|m|kilometre)', dist_str, re.IGNORECASE)
    
    if match:
        value = float(match.group(1))
        unit = match.group(2).lower()
        
        if unit.startswith('k'):
            return value * 1000
        return value
    return np.nan

# Smart normalization that preserves meaning
def smart_normalize(name):
    """Normalize while preserving core identity"""
    name = str(name).lower().strip()
    
    # Remove only location/administrative suffixes that don't change identity
    # BUT keep the main name intact
    
    # Standardize common abbreviations
    name = re.sub(r'\brd\b', 'road', name)
    name = re.sub(r'\bst\b', 'street', name)
    name = re.sub(r'\bave\b', 'avenue', name)
    name = re.sub(r'\bsec\b', 'sector', name)
    name = re.sub(r'\bexpy\b', 'expressway', name)
    name = re.sub(r'\bhwy\b', 'highway', name)
    name = re.sub(r'\bintl\b', 'international', name)
    name = re.sub(r'\bint\b', 'international', name)
    
    # Remove punctuation but keep spaces
    name = re.sub(r'[,\.\'\"\(\)\/\:\;]', ' ', name)
    name = re.sub(r'\s+', ' ', name).strip()
    
    return name

# Check if two names are the same entity
def are_same_location(loc1, loc2):
    """
    Determine if two locations are the same using intelligent rules
    """
    # Basic preprocessing
    n1 = smart_normalize(loc1)
    n2 = smart_normalize(loc2)
    
    # Exact match after normalization
    if n1 == n2:
        return True
    
    # Extract core names (remove common suffixes/prefixes carefully)
    def extract_core(name):
        # Remove only trailing location qualifiers
        name = re.sub(r'\s+(gurgaon|gurugram|delhi|haryana|india)$', '', name)
        name = re.sub(r'\s+sector\s+\d+[a-z]?$', '', name)
        return name.strip()
    
    core1 = extract_core(n1)
    core2 = extract_core(n2)
    
    # If cores match exactly
    if core1 == core2 and core1:
        return True
    
    # Check if one is clearly an extension of the other
    # E.g., "Artemis Hospital" vs "Artemis Hospital Gurgaon"
    if len(core1) > 10 and len(core2) > 10:
        if core1 in core2 or core2 in core1:
            # Only if the difference is just location name
            diff_len = abs(len(n1) - len(n2))
            if diff_len < 20:  # Reasonable difference
                return True
    
    # Hospital/Bank/ATM specific rules
    # "HDFC Bank" should match "HDFC Bank ATM" but NOT "ICICI Bank"
    if 'bank' in n1 and 'bank' in n2:
        # Extract bank name (before "bank")
        bank1 = re.search(r'(\w+(?:\s+\w+)?)\s+bank', n1)
        bank2 = re.search(r'(\w+(?:\s+\w+)?)\s+bank', n2)
        if bank1 and bank2:
            if bank1.group(1) == bank2.group(1):
                # Same bank, one might have ATM
                if 'atm' in n1 or 'atm' in n2:
                    return True
    
    # Hospital specific - match only if same hospital name
    if 'hospital' in n1 and 'hospital' in n2:
        # Extract hospital name (before "hospital")
        hosp1 = re.sub(r'\s+hospital.*', '', n1).strip()
        hosp2 = re.sub(r'\s+hospital.*', '', n2).strip()
        if hosp1 and hosp2 and hosp1 == hosp2:
            return True
    
    # School specific - match only if same school name
    if 'school' in n1 and 'school' in n2:
        school1 = re.sub(r'\s+school.*', '', n1).strip()
        school2 = re.sub(r'\s+school.*', '', n2).strip()
        if school1 and school2 and school1 == school2:
            return True
    
    # Expressway/Highway variants
    if ('expressway' in n1 or 'highway' in n1) and ('expressway' in n2 or 'highway' in n2):
        # Extract the name before expressway/highway
        name1 = re.sub(r'\s+(expressway|highway).*', '', n1).strip()
        name2 = re.sub(r'\s+(expressway|highway).*', '', n2).strip()
        if name1 and name2 and name1 == name2:
            return True
    
    # NH (National Highway) special case
    if n1.startswith('nh') and n2.startswith('nh'):
        # Extract highway number
        num1 = re.search(r'nh\s*(\d+)', n1)
        num2 = re.search(r'nh\s*(\d+)', n2)
        if num1 and num2 and num1.group(1) == num2.group(1):
            return True
    
    # Metro station variants
    if 'metro' in n1 and 'metro' in n2:
        # Extract sector/area name
        base1 = re.sub(r'\s+(metro|rapid|station).*', '', n1).strip()
        base2 = re.sub(r'\s+(metro|rapid|station).*', '', n2).strip()
        if base1 and base2 and base1 == base2:
            return True
    
    # Very high similarity (95%+) for typos
    similarity = SequenceMatcher(None, n1, n2).ratio()
    if similarity >= 0.95:
        return True
    
    return False

# Filter useless locations
def should_filter_location(name):
    """Filter out very specific or useless locations"""
    name_lower = name.lower()
    
    filter_patterns = [
        r'unnamed',
        r'^\d+\s*bhk',
        r'plot\s*(no|number)?\s*\d+',
        r'flat\s*(no|number)?\s*\d+',
    ]
    
    for pattern in filter_patterns:
        if re.search(pattern, name_lower):
            return True
    
    if len(name.strip()) < 3:
        return True
    
    return False

# Parse LocationAdvantages
def parse_location_advantages(loc_str):
    if pd.isna(loc_str):
        return {}
    try:
        if isinstance(loc_str, str):
            return ast.literal_eval(loc_str)
        return loc_str
    except:
        return {}

print("="*70)
print("PROPERTY RECOMMENDATION SYSTEM - SMART DEDUPLICATION")
print("="*70)

print("\nStep 1: Parsing location data...")
df['LocationAdvantagesParsed'] = df['LocationAdvantages'].apply(parse_location_advantages)

# Collect all locations
print("\nStep 2: Collecting all locations...")
all_raw_locations = set()
for idx, row in df.iterrows():
    locations = row['LocationAdvantagesParsed']
    all_raw_locations.update(locations.keys())

print(f"Total raw location names: {len(all_raw_locations)}")

# Filter out useless locations
print("\nStep 3: Filtering out useless locations...")
filtered_locations = [loc for loc in all_raw_locations if not should_filter_location(loc)]
print(f"After filtering: {len(filtered_locations)} locations")
print(f"Filtered out: {len(all_raw_locations) - len(filtered_locations)} locations")

# Build canonical location map with smart deduplication
print("\nStep 4: Smart duplicate detection (this may take a moment)...")
location_to_canonical = {}
canonical_info = {}

sorted_locs = sorted(filtered_locations)

for i, loc in enumerate(sorted_locs):
    if i % 100 == 0:
        print(f"  Processing {i}/{len(sorted_locs)}...")
    
    # Check if similar to any existing canonical location
    found_match = False
    
    for canonical in list(canonical_info.keys()):
        if are_same_location(loc, canonical):
            location_to_canonical[loc] = canonical
            canonical_info[canonical]['variants'].append(loc)
            canonical_info[canonical]['count'] += 1
            found_match = True
            break
    
    if not found_match:
        # This is a new unique location
        location_to_canonical[loc] = loc
        canonical_info[loc] = {
            'canonical': loc,
            'variants': [loc],
            'count': 1
        }

# Get final unique locations
unique_locations = sorted(canonical_info.keys())
print(f"\nFinal unique locations: {len(unique_locations)}")
print(f"Duplicates merged: {len(filtered_locations) - len(unique_locations)}")

# Show merged duplicates
print("\n" + "="*70)
print("MERGED DUPLICATE LOCATIONS (showing those with 2+ variants):")
print("="*70)
sorted_by_count = sorted(canonical_info.items(), key=lambda x: x[1]['count'], reverse=True)
merge_count = 0
for canonical, info in sorted_by_count:
    if info['count'] > 1:
        merge_count += 1
        if merge_count <= 30:  # Show top 30
            print(f"\n{merge_count}. Canonical: '{canonical}'")
            print(f"   Variants ({info['count']} total):")
            for variant in info['variants']:
                if variant != canonical:
                    print(f"      → {variant}")

# Create distance matrix
print("\n" + "="*70)
print("Step 5: Creating property-location distance matrix...")
print("="*70)

distance_matrix = pd.DataFrame(index=df['PropertyName'], columns=unique_locations)

# Fill matrix with distances
for idx, row in df.iterrows():
    prop_name = row['PropertyName']
    locations = row['LocationAdvantagesParsed']
    
    for loc, dist in locations.items():
        if loc in location_to_canonical:
            canonical = location_to_canonical[loc]
            distance_meters = normalize_distance(dist)
            
            # Keep minimum distance if multiple entries
            current_dist = distance_matrix.loc[prop_name, canonical]
            if pd.isna(current_dist) or (not pd.isna(distance_meters) and distance_meters < current_dist):
                distance_matrix.loc[prop_name, canonical] = distance_meters

# Convert to numeric
distance_matrix = distance_matrix.apply(pd.to_numeric, errors='coerce')

print(f"\nDistance Matrix Shape: {distance_matrix.shape}")
print(f"Properties: {distance_matrix.shape[0]}")
print(f"Unique Locations: {distance_matrix.shape[1]}")

# Calculate sparsity
total_cells = distance_matrix.shape[0] * distance_matrix.shape[1]
non_null_cells = distance_matrix.notna().sum().sum()
sparsity = (1 - non_null_cells / total_cells) * 100

print(f"Non-null distances: {non_null_cells}")
print(f"Matrix sparsity: {sparsity:.2f}%")

# Save distance matrix
distance_matrix.to_csv('property_location_distance_matrix.csv')
print("\n✓ Distance matrix saved to 'property_location_distance_matrix.csv'")

# Save location mapping
mapping_data = []
for canonical, info in canonical_info.items():
    mapping_data.append({
        'Canonical_Location': canonical,
        'Variant_Count': info['count'],
        'All_Variants': ' | '.join(info['variants'])
    })

mapping_df = pd.DataFrame(mapping_data).sort_values('Variant_Count', ascending=False)
mapping_df.to_csv('location_deduplication_mapping.csv', index=False)
print("✓ Location mapping saved to 'location_deduplication_mapping.csv'")

# --- COSINE SIMILARITY ---
print("\n" + "="*70)
print("Step 6: Calculating cosine similarity...")
print("="*70)

# Prepare feature matrix (inverse distance as similarity)
feature_matrix = distance_matrix.fillna(0)
feature_matrix = 1 / (feature_matrix + 1)  # Inverse distance

# Calculate cosine similarity
similarity_matrix = cosine_similarity(feature_matrix)

# Create similarity DataFrame
similarity_df = pd.DataFrame(
    similarity_matrix,
    index=df['PropertyName'],
    columns=df['PropertyName']
)

print(f"Similarity Matrix Shape: {similarity_df.shape}")

# Save similarity matrix
similarity_df.to_csv('property_similarity_matrix.csv')
print("✓ Similarity matrix saved to 'property_similarity_matrix.csv'")

# --- RECOMMENDATIONS ---
def get_recommendations(property_name, similarity_df, top_n=5):
    """Get top N similar properties"""
    if property_name not in similarity_df.index:
        print(f"Property '{property_name}' not found!")
        return None
    
    similar_scores = similarity_df[property_name].sort_values(ascending=False)
    recommendations = similar_scores[similar_scores.index != property_name].head(top_n)
    
    return recommendations

# Example recommendations
if len(df) > 0:
    example_property = df['PropertyName'].iloc[0]
    print("\n" + "="*70)
    print(f"EXAMPLE: Top 5 Similar Properties to '{example_property}'")
    print("="*70)
    recommendations = get_recommendations(example_property, similarity_df, top_n=5)
    if recommendations is not None:
        for i, (prop, score) in enumerate(recommendations.items(), 1):
            print(f"{i}. {prop}")
            print(f"   Similarity: {score:.4f} ({score*100:.2f}%)")

# Final summary
print("\n" + "="*70)
print("FINAL SUMMARY")
print("="*70)
print(f"✓ Total Properties: {len(df)}")
print(f"✓ Raw Locations: {len(all_raw_locations)}")
print(f"✓ After Filtering: {len(filtered_locations)}")
print(f"✓ Final Unique Locations: {len(unique_locations)}")
print(f"✓ Duplicates Merged: {len(filtered_locations) - len(unique_locations)}")
print(f"✓ Distance Matrix: {distance_matrix.shape[0]} × {distance_matrix.shape[1]}")
print(f"✓ Matrix Sparsity: {sparsity:.2f}%")
print("\nGenerated Files:")
print("  1. property_location_distance_matrix.csv")
print("  2. property_similarity_matrix.csv")
print("  3. location_deduplication_mapping.csv")
print("="*70)

======================================================================
PROPERTY RECOMMENDATION SYSTEM - SMART DEDUPLICATION
======================================================================

Step 1: Parsing location data...

Step 2: Collecting all locations...
Total raw location names: 1070

Step 3: Filtering out useless locations...
After filtering: 1069 locations
Filtered out: 1 locations

Step 4: Smart duplicate detection (this may take a moment)...
  Processing 0/1069...

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_286436\1977592525.py:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LocationAdvantagesParsed'] = df['LocationAdvantages'].apply(parse_location_advantages)

  Processing 100/1069...
  Processing 200/1069...
  Processing 300/1069...
  Processing 400/1069...
  Processing 500/1069...
  Processing 600/1069...
  Processing 700/1069...
  Processing 800/1069...
  Processing 900/1069...
  Processing 1000/1069...

Final unique locations: 796
Duplicates merged: 273

======================================================================
MERGED DUPLICATE LOCATIONS (showing those with 2+ variants):
======================================================================

1. Canonical: 'Euro Int School, Sector 37D, Gurugram'
   Variants (12 total):
      → Euro Int. School
      → Euro International School
      → Euro International School, Sec 84
      → Euro International School, Sector 37D
      → Euro International School, Sector 84
      → Euro International School, Sector- 109
      → Euro International School, Sector- 109.
      → Euro International School, sector- 51
      → Euro Intl School Sec-51
      → Euro Intl School, Sector 37D, Gurugram
      → Euro Intl School, Sector- 109

2. Canonical: 'Sector 55-56 Metro'
   Variants (8 total):
      → Sector 55-56 Metro Station
      → Sector 55-56 Metro station
      → Sector 55-56 Rapid Metro
      → Sector 55-56 Rapid Metro Station
      → Sector 55-56 metro
      → Sector 55-56 metro station
      → Sector 55-56 rapid metro station

3. Canonical: 'Badshahpur Sohna Rd Hwy'
   Variants (7 total):
      → Badshahpur Sohna Rd Hwy, Haryana
      → Badshahpur Sohna Rd Hwy, Malibu Town
      → Badshahpur Sohna Rd Hwy, Raghav Vatika
      → Badshahpur Sohna Rd Hwy, Rajoria Ngr
      → Badshahpur Sohna Rd Hwy, Sector 68
      → Badshahpur Sohna Rd Hwy,Sector 48

4. Canonical: 'Dwarka Expressway Link Road'
   Variants (7 total):
      → Dwarka Expy, Block D, New Palam Vihar
      → Dwarka Expy, Dhanwapur Village
      → Dwarka Expy, Sector 109
      → Dwarka Expy, Sector 88
      → Dwarka Expy/Northern Peripheral Rd
      → Dwarka expressway Basai crossing

5. Canonical: 'IMT Manesar'
   Variants (7 total):
      → Imt Manesar
      → Imt Manesar, Gurugram
      → NH-8 IMT Manesar
      → NH-8, IMT Manesar
      → NH-8, Imt Manesar
      → Numberdar market, IMT Manesar

6. Canonical: 'Holiday Inn'
   Variants (6 total):
      → Holiday Inn Express Gurugram
      → Holiday Inn Gurugram
      → Holiday Inn Gurugram Sector 90
      → Holiday Inn Hotel Sector 90
      → Holiday Inn Sector 90

7. Canonical: 'Miracles Apollo Cradle'
   Variants (6 total):
      → Miracles Apollo Cradle / Spectra
      → Miracles Apollo Cradle /Spectra Hospital
      → Miracles Apollo Cradle Hospital
      → Miracles Apollo Cradle Spectra Hospital
      → Miracles Apollo Cradle/Spectra Hospital

8. Canonical: 'CANARA BANK'
   Variants (5 total):
      → Canara Bank
      → Canara Bank - Nawada Fatehpur
      → Canara Bank ATM
      → Canara Bank New Palam Vihar

9. Canonical: 'Delhi Public School'
   Variants (5 total):
      → Delhi Public School Gurugram Sector 67A
      → Delhi Public School Sector 84
      → Delhi Public School, Sector 103
      → Delhi Public School, Sector 84

10. Canonical: 'HDFC Bank, Pataudi Rd'
   Variants (5 total):
      → Pataudi Rd
      → Pataudi Rd, Sector 95B
      → Pataudi Road
      → Pataudi road

11. Canonical: 'HUDA Metro Station'
   Variants (5 total):
      → Huda Metro Station
      → Huda Metro Station (Gurugram)
      → Huda Metro station
      → Huda metro station

12. Canonical: 'Dwaraka Expressway'
   Variants (4 total):
      → Dwarka Expressway
      → Dwarka Expy
      → Dwarka expressway

13. Canonical: 'Dwarka Sector 21 Metro Station'
   Variants (4 total):
      → Dwarka Sector 21 Metro station
      → Dwarka Sector 21, Metro Station
      → Dwarka sector 21 metro station

14. Canonical: 'Faridabad - Gurgaon Rd'
   Variants (4 total):
      → Faridabad - Gurgaon Road
      → Faridabad Gurgaon Road
      → Gurgaon Road

15. Canonical: 'Golf Corse Ext. Rd.'
   Variants (4 total):
      → Golf Course Ext Rd
      → Golf Course Ext Road
      → Golf Course Extn Road

16. Canonical: 'Golf Course Extension'
   Variants (4 total):
      → Golf Course Extension Rd
      → Golf Course Extension Road
      → Golf course extension road

17. Canonical: 'HDFC Bank'
   Variants (4 total):
      → HDFC Bank ATM
      → HDFC Bank ATM, Dhunela Ghamroj
      → HDFC bank ATM

18. Canonical: 'Hyatt Regency'
   Variants (4 total):
      → Hyatt Regency Gurgaon
      → Hyatt Regency Gurugram
      → Hyatt Regency Hotel

19. Canonical: 'ICICI BANK ATM, Annapurna MKT'
   Variants (4 total):
      → ICICI Bank
      → ICICI Bank ATM
      → ICICI Bank ATM, Sector 86

20. Canonical: 'IFFCO Chowk'
   Variants (4 total):
      → IFFCO Chowk Metro Station
      → Iffco Chowk
      → Iffco Chowk Metro Station

21. Canonical: 'Lemon Tree Hotel'
   Variants (4 total):
      → Lemon Tree Hotel Sector 60
      → Lemon Tree Hotel,
      → Lemon Tree Hotel, Sohna Road

22. Canonical: 'Medanta - The Medicity'
   Variants (4 total):
      → Medanta -The Medicity
      → Medanta The Medicity
      → Medanta-The Medicity

23. Canonical: 'NH 248'
   Variants (4 total):
      → NH 248 A
      → NH 248A
      → NH248A

24. Canonical: 'NH 48'
   Variants (4 total):
      → NH 48 Gurugram
      → NH 48, Sector 78
      → NH48

25. Canonical: 'National Highway  48'
   Variants (4 total):
      → National Highway 48
      → National Highway 8
      → National Highway-48

26. Canonical: 'Paras Trinity'
   Variants (4 total):
      → Paras Trinity Mall
      → Paras Trinity Mall Sector 63
      → Paras Trinity Shopping Mall

27. Canonical: 'Rapid Metro Sector 55-56'
   Variants (4 total):
      → Rapid Metro Sector 56
      → Rapid Metro Station Sector 55 56
      → Rapid Metro Station Sector 56

28. Canonical: 'Sector 42-43'
   Variants (4 total):
      → Sector 42-43 Metro Station
      → Sector 42-43 Metro station
      → Sector 42-43 Rapid Metro

29. Canonical: 'Southern Peripheral Rd'
   Variants (4 total):
      → Southern Peripheral Rd, Dhani
      → Southern Peripheral Rd, Gurugram
      → Southern Peripheral Road

30. Canonical: 'Vardaan Hospital'
   Variants (4 total):
      → Vardaan Hospital & Trauma Centre
      → Vardaan Hospital and Trauma Centre
      → Vardaan hospital and trauma centre

======================================================================
Step 5: Creating property-location distance matrix...
======================================================================

Distance Matrix Shape: (246, 796)
Properties: 246
Unique Locations: 796
Non-null distances: 2511
Matrix sparsity: 98.72%

✓ Distance matrix saved to 'property_location_distance_matrix.csv'
✓ Location mapping saved to 'location_deduplication_mapping.csv'

======================================================================
Step 6: Calculating cosine similarity...
======================================================================
Similarity Matrix Shape: (246, 246)
✓ Similarity matrix saved to 'property_similarity_matrix.csv'

======================================================================
EXAMPLE: Top 5 Similar Properties to 'Smartworld One DXP'
======================================================================
1. M3M Crown
   Similarity: 0.9955 (99.55%)
2. International City by SOBHA Phase 2
   Similarity: 0.9936 (99.36%)
3. Rishali Luxe Residency 112
   Similarity: 0.9936 (99.36%)
4. Zara Rossa
   Similarity: 0.9924 (99.24%)
5. La Vida by Tata Housing
   Similarity: 0.9917 (99.17%)

======================================================================
FINAL SUMMARY
======================================================================
✓ Total Properties: 246
✓ Raw Locations: 1070
✓ After Filtering: 1069
✓ Final Unique Locations: 796
✓ Duplicates Merged: 273
✓ Distance Matrix: 246 × 796
✓ Matrix Sparsity: 98.72%

Generated Files:
  1. property_location_distance_matrix.csv
  2. property_similarity_matrix.csv
  3. location_deduplication_mapping.csv
======================================================================

In [136]:
location_df=distance_matrix

In [137]:
location_df.fillna(54000,inplace=True)

In [138]:
from sklearn.preprocessing import StandardScaler
# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
location_df_normalized = pd.DataFrame(scaler.fit_transform(location_df), columns=location_df.columns, index=location_df.index)

In [139]:
cosine_sim3=similarity_matrix

In [140]:
def recommend_properties_with_scores(property_name, top_n=246):
    
    cosine_sim_matrix = cosine_sim3+cosine_sim2+cosine_sim3
    # cosine_sim_matrix = cosine_sim3
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim_matrix[location_df_normalized.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = location_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('Ireo Victory Valley')

                       PropertyName  SimilarityScore
0                        M3M Merlin         0.994274
1                 Ansal API Esencia         0.993070
2                 Conscient Habitat         0.993070
3                      Tulip Violet         0.993003
4        Bestech Park View Spa Next         0.992994
..                              ...              ...
240               DLF The Magnolias         0.983410
241               DLF The Camellias         0.983410
242                  DLF Park Place         0.983409
243                     Vipul World         0.983409
244  Signature Global the Millennia         0.983408

[245 rows x 2 columns]

In [141]:
location_df.to_csv('location_data.csv')

In [145]:
location_df

,AIIMS,AIIMS Jhajjar,AIPL Business Centre,AIPL Business Club,AIPL Business Co Working Space,AIPL Business Tower,AIPL Joy Street Mall,APJ Abdul Kalam Park,ASF Insignia SEZ,Aapno Ghar,...,Xavier’s International,YES Bank,Yaduvanshi Shiksha Niketan,Yashlok Medical Centre,Yashroop Hospital,Yonex Badminton Stadium,ZEN Golf Range & Academy,Zooper India Trampoline Park,iGrow Montessori,iON Digital Zone (Gurugram)
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
M3M Crown,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Adani Brahma Samsara Vilasa,54000.0,54000.0,54000.0,2700.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Sobha City,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Signature Global City 93,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,3100.0,54000.0,54000.0
Pyramid Urban Homes 2,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Satya The Hermitage,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
BPTP Spacio,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
SS The Coralwood,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0

In [163]:
location_df[location_df['Yashroop Hospital']<20000].index.to_list()

['BPTP Amstoria', 'G99']

In [164]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,TopFacilitiesStr,LocationAdvantagesParsed
0,Smartworld One DXP,sector 113,"['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'...",Swimming Pool Salon Restaurant Spa Cafeteria S...,"{'Bajghera Road': '800 Meter', 'Palam Vihar Ha..."
1,M3M Crown,sector 111,"['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G...",Bowling Alley Mini Theatre Manicured Garden Sw...,"{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N..."
2,Adani Brahma Samsara Vilasa,dependent floor,"['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph...",Terrace Garden Gazebo Fountain Amphitheatre Pa...,"{'AIPL Business Club Sector 62': '2.7 Km', 'He..."
3,Sobha City,sector 108,"['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi...",Swimming Pool Volley Ball Court Aerobics Centr...,"{'The Shikshiyan School': '2.9 KM', 'WTC Plaza..."
4,Signature Global City 93,dependent floor,"['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ...",Mini Theatre Doctor on Call Concierge Service ...,"{'Pranavananda Int. School': '450 m', 'DLF Sit..."

In [178]:
data=df[['PropertyName','PropertySubName','Link','TopFacilitiesStr']]

In [179]:
data.to_csv('property_detail.csv',index=False)

In [180]:
data.head()

,PropertyName,PropertySubName,Link,TopFacilitiesStr
0,Smartworld One DXP,sector 113,https://www.99acres.com/smartworld-one-dxp-sec...,"[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,sector 111,https://www.99acres.com/m3m-crown-sector-111-g...,"[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,dependent floor,https://www.99acres.com/adani-brahma-samsara-v...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,sector 108,https://www.99acres.com/sobha-city-sector-108-...,"[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,dependent floor,https://www.99acres.com/signature-global-city-...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [172]:
import pickle

In [174]:
with open('cosine_sim1.pkl','wb') as file:
    pickle.dump(cosine_sim1,file)

In [175]:
with open('cosine_sim2.pkl','wb') as file2:
    pickle.dump(cosine_sim2,file2)
with open('cosine_sim3.pkl','wb') as file3:
    pickle.dump(cosine_sim1,file3)

In [183]:
type(df['TopFacilitiesStr'][0])

list